<div class="container">
  <form action="/import" method="post" enctype="multipart/form-data" id="csv">
    <label for="csv_file">Escolha um arquivo CSV:</label>
    <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
    <button type="submit">Enviar</button>
  </form>
</div>
